<a href="https://colab.research.google.com/github/AstridXiomara/LSTM/blob/main/Multivariate_LSTM_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multivariate LSTM Model

## Librerias

In [3]:
import numpy as np
import pandas as pd

# univariate lstm example
#import keras
from numpy import array
from numpy import hstack

from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Bidirectional
from keras.layers import Flatten
from keras.layers import TimeDistributed
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers import ConvLSTM2D
from keras.layers import RepeatVector
from keras.layers import TimeDistributed
from sklearn.metrics import mean_squared_error

## Data

In [6]:
Constrains = pd.read_excel("Well Data Var.xlsx", sheet_name="Hoja1")
Constrains

     Pwf  Pwf2  Pwf3  Pwf4    Qw
0   3391  3286  3545  3541  1438
1   3516  3574  3297  3362  1170
2   3918  3468  3340  3085  1722
3   3972  3516  3396  3978  1671
4   3711  3546  3807  3773   548
5   3911  3758  3019  3709   967
6   3536  3678  3840  3530   818
7   3409  3275  3389  3831  1057
8   3114  3592  3436  3084  1138
9   3827  3809  3371  3766  1595
10  3435  3001  3981  3001   796
11  3024  3730  3750  3371  1403
12  3885  3354  3563  3705  1834
13  3874  3507  3492  3914  1123
14  3851  3588  3634  3193  1662
15  3805  3072  3787  3576  1993
16  3971  3966  3911  3487   750
17  3305  3441  3926  3993  1520
18  3499  3365  3946  3272  1872
19  3280  3277  3621  3339  1919
20  3151  3463  3005  3861  1048
21  3046  3824  3919  3069   905
22  3302  3746  3079  3127  1888
23  3438  3602  3498  3072  1305
24  3611  3035  3173  3298   753

In [8]:
Production=pd.read_csv("Hoja1_results.csv", header=0, index_col=0)
Production

,0,1,2,3,4,5,6,7
0,1009.725364,677.975588,1683.374236,571.400305,0.000000,0.000000,0.000000,0.000000
1,701.721854,416.201622,946.422570,412.233996,0.007646,0.007878,0.018913,0.003323
2,675.849776,376.334852,823.549166,383.456721,0.008396,0.009304,0.021928,0.004275
3,665.542561,356.393406,766.447214,367.399296,0.008550,0.009895,0.022844,0.004791
4,658.972904,343.600407,733.636846,355.941247,0.008567,0.010208,0.023145,0.005146
...,...,...,...,...,...,...,...,...
356,104.020717,72.356329,124.298593,180.799889,442.098991,65.154675,425.571438,0.931140
357,103.619260,71.999299,123.654413,180.136330,441.037166,65.006586,425.178772,1.009742
358,103.230162,71.657921,123.033685,179.477546,440.088982,64.880222,424.825421,1.092265
359,102.852404,71.330698,122.434750,178.825734,439.239938,64.771734,424.502688,1.178638
360,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [46]:
Constrains2 = Constrains.copy(deep = True)
Constrains2['new_index'] = Constrains.index *15
Constrains2.set_index('new_index', inplace= True)

In [55]:
join = Constrains2.join(Production, how = 'inner')

In [68]:
data=join.to_numpy()
data

array([[3.39100000e+03, 3.28600000e+03, 3.54500000e+03, 3.54100000e+03,
        1.43800000e+03, 1.00972536e+03, 6.77975588e+02, 1.68337424e+03,
        5.71400305e+02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [3.51600000e+03, 3.57400000e+03, 3.29700000e+03, 3.36200000e+03,
        1.17000000e+03, 5.70918516e+02, 2.31898717e+02, 7.97543919e+02,
        3.46285673e+02, 7.43352080e-03, 7.92927979e-03, 2.82565193e-02,
        7.27737804e-03],
       [3.91800000e+03, 3.46800000e+03, 3.34000000e+03, 3.08500000e+03,
        1.72200000e+03, 3.60469808e+02, 2.60930138e+02, 5.80721992e+02,
        3.51937395e+02, 5.55001916e-03, 8.29522195e-03, 2.73524215e-02,
        1.05637160e-02],
       [3.97200000e+03, 3.51600000e+03, 3.39600000e+03, 3.97800000e+03,
        1.67100000e+03, 4.47214593e+02, 2.51667978e+02, 6.04774850e+02,
        1.22392607e+02, 3.14953806e-03, 7.46684480e-03, 2.43576345e-02,
        4.08043344e-03],
       [3.71100000e+03, 3.54600000e+03, 3.80700000e+03, 3.77300000e+03,
        5.48000000e+02, 5.11215305e+02, 2.55674263e+02, 3.84373333e+02,
        2.69430474e+02, 2.41971169e+01, 6.69184742e-03, 1.26044388e-01,
        4.12292827e-03],
       [3.91100000e+03, 3.75800000e+03, 3.01900000e+03, 3.70900000e+03,
        9.67000000e+02, 2.24908669e+02, 1.51202454e+02, 7.88577439e+02,
        2.17234170e+02, 8.38925306e+01, 5.23234383e-03, 8.90640643e+01,
        5.61561988e-03],
       [3.53600000e+03, 3.67800000e+03, 3.84000000e+03, 3.53000000e+03,
        8.18000000e+02, 3.10883287e+02, 1.81023070e+02, 6.91582090e+01,
        2.25738601e+02, 1.64319419e+02, 5.92769366e-03, 2.03311662e+01,
        7.22743726e-03],
       [3.40900000e+03, 3.27500000e+03, 3.38900000e+03, 3.83100000e+03,
        1.05700000e+03, 2.70826391e+02, 2.56772330e+02, 4.49389245e+02,
        1.19694587e+02, 1.83232529e+02, 9.65685326e-03, 2.02657079e+02,
        4.77999771e-03],
       [3.11400000e+03, 3.59200000e+03, 3.43600000e+03, 3.08400000e+03,
        1.13800000e+03, 3.08929255e+02, 1.17996943e+02, 2.89325809e+02,
        3.09369328e+02, 2.59187062e+02, 6.54124806e-03, 1.68237800e+02,
        1.10497219e-02],
       [3.82700000e+03, 3.80900000e+03, 3.37100000e+03, 3.76600000e+03,
        1.59500000e+03, 1.00603427e+02, 9.52721608e+01, 2.97409239e+02,
        7.04161389e+01, 1.03008928e+02, 1.40140650e-02, 2.25644583e+02,
        3.92235073e-03],
       [3.43500000e+03, 3.00100000e+03, 3.98100000e+03, 3.00100000e+03,
        7.96000000e+02, 2.67853645e+02, 3.35777377e+02, 6.72325955e+01,
        3.26938026e+02, 3.42127274e+02, 1.13283699e+00, 6.74535571e+01,
        1.16102926e-02],
       [3.02400000e+03, 3.73000000e+03, 3.75000000e+03, 3.37100000e+03,
        1.40300000e+03, 2.75926556e+02, 4.17953509e+01, 2.26230587e+02,
        1.51057049e+02, 3.68307460e+02, 2.42132770e+00, 2.54072039e+02,
        8.69655696e-03],
       [3.88500000e+03, 3.35400000e+03, 3.56300000e+03, 3.70500000e+03,
        1.83400000e+03, 7.04327263e+01, 1.88201866e+02, 2.60772404e+02,
        1.04642892e+02, 1.23944853e+02, 2.67477469e+01, 3.25989059e+02,
        5.17380627e-03],
       [3.87400000e+03, 3.50700000e+03, 3.49200000e+03, 3.91400000e+03,
        1.12300000e+03, 1.59893060e+02, 1.38800194e+02, 2.79285885e+02,
        1.18233633e+02, 3.36876567e+02, 3.27991773e+01, 4.22025113e+02,
        4.11377861e-03],
       [3.85100000e+03, 3.58800000e+03, 3.63400000e+03, 3.19300000e+03,
        1.66200000e+03, 1.34276236e+02, 1.16568854e+02, 1.72922219e+02,
        2.96930474e+02, 2.86850767e+02, 3.37404887e+01, 2.85798236e+02,
        9.48696528e-03],
       [3.80500000e+03, 3.07200000e+03, 3.78700000e+03, 3.57600000e+03,
        1.99300000e+03, 1.53171678e+02, 2.22433205e+02, 1.62588052e+02,
        1.46338797e+02, 3.79182132e+02, 8.35826178e+01, 3.18626539e+02,
        6.71545942e-03],
       [3.97100000e+03, 3.96600000e+03, 3.91100000e+03, 3.48700000e+03,
        7.50000000e+02, 1.34085964e+02, 3.53771951e+01, 1.65002969e+02,
        2.21476760e+02, 3.83368918e+02, 1.62172588e+01, 3.77209765e+02,
        7.33081491e-03],
       [3.30500000e+03, 3.44100000e+03, 3.92600000e+03, 3.99300000e+03,
        1.52000000e+03, 2.15226798e+02, 1.64174256e+02, 1.25182576e+02,
        6.77768903e+01, 5.73287042e+02, 8.37090325e+01, 2.88419859e+02,
        2.81480256e-03],
       [3.49900000e+03, 3.36500000e+03, 3.94600000e+03, 3.27200000e+03,
        1.87200000e+03, 1.43902300e+02, 1.37614237e+02, 1.30907222e+02,
        2.78271962e+02, 4.38356283e+02, 7.92940822e+01, 3.27733715e+02,
        8.85016608e-03],
       [3.28000000e+03, 3.27700000e+03, 3.62100000e+03, 3.33900000e+03,
        1.91900000e+03, 1.97677679e+02, 1.51515872e+02, 2.43858747e+02,
        2.07313164e+02, 6.83601427e+02, 1.05262468e+02, 6.79490216e+02,
        9.59068096e-03],
       [3.15100000e+03, 3.46300000e+03, 3.00500000e+03, 3.86100000e+03,
        1.04800000e+03, 1.93325182e+02, 1.07552978e+02, 3.57176858e+02,
        9.09081982e+01, 7.21072007e+02, 8.38793459e+01, 1.04248477e+03,
        5.71525610e-03],
       [3.04600000e+03, 3.82400000e+03, 3.91900000e+03, 3.06900000e+03,
        9.05000000e+02, 1.56086344e+02, 3.03740800e+01, 8.65359701e-01,
        2.77718853e+02, 5.44647302e+02, 1.88356960e+01, 5.80156189e-05,
        2.84694807e-02],
       [3.30200000e+03, 3.74600000e+03, 3.07900000e+03, 3.12700000e+03,
        1.88800000e+03, 9.75444402e+01, 6.19189664e+01, 3.05648557e+02,
        1.64820897e+02, 3.60336718e+02, 4.85408002e+01, 9.14267895e+02,
        6.96201423e-02],
       [3.43800000e+03, 3.60200000e+03, 3.49800000e+03, 3.07200000e+03,
        1.30500000e+03, 1.05539273e+02, 8.61111708e+01, 7.75849737e+01,
        1.89067101e+02, 4.49436861e+02, 8.03570434e+01, 2.41141749e+02,
        3.27042608e-01],
       [3.61100000e+03, 3.03500000e+03, 3.17300000e+03, 3.29800000e+03,
        7.53000000e+02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00]])

In [69]:
bhp_1 = data[:,0]
bhp_2 = data[:,1]
bhp_3 = data[:,2]
bhp_4 = data[:,3]
Qw    = data[:,4]
oil_1 = data[:,5]
oil_2 = data[:,6]
oil_3 = data[:,7]
oil_4 = data[:,8]
wat_1 = data[:,9]
wat_2 = data[:,10]
wat_3 = data[:,11]
wat_4 = data[:,12]

## Funciones

In [71]:
# split a multivariate sequence into samples
def split_sequences(sequences, n_steps):
	X, y = list(), list()
	for i in range(len(sequences)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the dataset
		if end_ix > len(sequences):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequences[i:end_ix, :-1], sequences[end_ix-1, -1]
		X.append(seq_x)
		y.append(seq_y)
	return array(X), array(y)

In [73]:
# Modelo

def modelo(n_features, LSTM_model, x_train, y_train):
  if LSTM_model=="Vanilla":
    # define model
    model = Sequential()
    #Number of LSTM in hidden layer=50
    model.add(LSTM(50, activation='relu', input_shape=(n_steps, n_features)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mse')
  elif LSTM_model=="Stacked":
    # define model
    model = Sequential()
    model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps, n_features)))
    model.add(LSTM(50, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mse')
  elif LSTM_model=="Bidirectional":
    # define model
    model = Sequential()
    model.add(Bidirectional(LSTM(50, activation='relu'), input_shape=(n_steps, n_features)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mse')
  # fit model
  model.fit(x_train, y_train, epochs=200, verbose=0)

  return model

In [74]:
from numpy.ma.core import sqrt
# Prediccion

def prediccion (x_test, y_test, model):
  # demonstrate prediction
  x_input = array(x_test)
  x_input = x_input.reshape((1, n_steps, n_features))
  yhat = model.predict(x_input, verbose=0)
  RMSE = sqrt(mean_squared_error( y_test, yhat ))
  return yhat, RMSE